@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", sans-serif;
}



@media (prefers-color-scheme: dark) {
  selection{
    background-color: white;
    color: black;
  }
}
